
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - Trainify</title>
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <!-- <link rel="stylesheet" href="{% static 'css/login.css' %}"> -->
</head>
<body>
  <header>
   {% include 'navbar.html' %}
  </header>
  
  <main>
    <div class="container">
      <!-- Title section -->
      <div class="title">LOGIN</div>
      <div class="content">
        <!-- Registration form -->
        <form action="" method="post">
          {% csrf_token %}
          <div class="user-details">
          
            <div class="input-box">
              <span class="details">EMAIL:</span>
              <input name="email" type="email" required>
            </div>
            <!-- Input for Password -->
            <div class="input-box">
              <span class="details">PASSWORD:</span>
              <input name="password" type="password" required>
            </div>
            <!-- Input for Confirm Password -->
          </div>
          <br> 
          <!-- Submit button -->
          <div class="button">
            <input type="submit" value="login">
          </div>
          <center>
            {% if messages %} <p style="color: red;">
                {% for message in messages %}
                    {{message}}
                {% endfor %}
            </p>{% endif %}
        </center>
        </form>
        <p>I don't have an account? <a href="{% url 'signup' %}">SIGNUP</a></p>
      </div>
    </div>
  </main>


  <footer>
    <p>&copy; 2025 Trainify. All Rights Reserved.</p>
  </footer>
</body>
</html>
