{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - Trainify</title>
  
  <!-- Linking External CSS -->
  <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
  {% include 'navbar.html' %}

  <!-- Main Login Section -->
  <main id="login-main">
    <div id="login-container">
      <!-- Title section -->
      <div id="login-title">LOGIN</div>
      <div id="login-content">
        <!-- Login Form -->
        <form id="login-form" action="" method="post">
          {% csrf_token %}
          <div id="login-user-details">
          
            <div class="input-box">
              <label for="email" class="details">EMAIL:</label>
              <input id="email" name="email" type="email" required>
            </div>

            <!-- Input for Password -->
            <div class="input-box">
              <label for="password" class="details">PASSWORD:</label>
              <input id="password" name="password" type="password" required>
            </div>
          </div>

          <br> 
          <!-- Submit button -->
          <div id="login-button">
            <input type="submit" value="Login">
          </div>

          <!-- Error Messages -->
          <center>
            {% if messages %}
              <p id="login-error">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
              </p>
            {% endif %}
          </center>
        </form>

        <p id="login-signup">I don't have an account? <a href="{% url 'signup' %}">SIGNUP</a></p>
      </div>
    </div>
  </main>

  <!-- Footer -->
  <footer id="footer">
    <p>&copy; 2025 Trainify. All Rights Reserved.</p>
  </footer>

</body>
</html>
