{% load static %}
<header id="navbar-header">
    <nav id="navbar">
        <a href="{% url 'home' %}">
            <img id="navbar-logo" src="{% static 'img/logo.webp' %}" alt="Trainify Logo">
        </a>
        <ul id="navbar-menu">
            <li><a id="nav-home" href="{% url 'home' %}">Home</a></li>
            <li><a id="nav-about" href="{% url 'about' %}">About</a></li>
            <li><a id="nav-contact" href="{% url 'contact'%}">Contact</a></li>

            {% if not user.is_authenticated %}
                <li><a id="nav-login" href="{% url 'login' %}">Login</a></li>
                <li><a id="nav-signup" href="{% url 'signup' %}">Signup</a></li>
            {% else %}
                <li><a id="nav-projects" href="{% url 'your_projects' %}">Your Projects</a></li>
                <li><a id="nav-logout" href="{% url 'logout' %}">Logout</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
